.image-wrapper {
  padding: 34px 0;
  background-color: #ffffff;
  border: solid 1px #000000;
}

.image_1 {
  width: 67px;
  height: 50px;
}

.page {
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.group {
  height: 944px;
}

.group_1 {
  position: fixed;
  left: 230px;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  /* background: #ffffff */
}

.group_2 {
  padding-left: 50px;
  margin-top: 33px;
  height: 690px;
}

.image_13 {
  margin-left: 437px;
  margin-top: 2.52px;
  width: 88px;
  height: 77.52px;
}

.image_14 {
  margin-left: 121.52px;
  width: 86px;
  height: 80px;
}

.image_15 {
  margin-left: 103.52px;
  width: 101px;
  height: 80px;
}

.image {
  width: 100px;
  height: 100px;
}

.text {
  margin-left: 22.52px;
  margin-top: 36px;
  color: #227c9d;
  font-size: 30px;
  font-family: Inter;
  font-weight: 700;
  line-height: 22.52px;
}

.group_3 {
  flex-shrink: 0;
  align-self: center;
  width: 120px;
}

.group_4 {
  margin-left: 50px;
  flex-shrink: 0;
  align-self: center;
  width: 123px;
}

.section_1 {
  margin-left: 53px;
  padding: 33px;
  flex: 1 1 auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.view_1 {
  margin-top: 30px;
}

.view_2 {
  margin-top: 30px;
}

.view_3 {
  margin-top: 30px;
}

.view_4 {
  margin-top: 30px;
}

.view_5 {
  margin-right: 3px;
}

.view_6 {
  margin-left: 3px;
  margin-top: 30px;
}

.view_7 {
  margin-left: 3px;
  margin-top: 30px;
}

.view_8 {
  margin-left: 3px;
  margin-top: 30px;
}

.view_9 {
  margin-right: 3px;
  margin-top: 30px;
}

.image_12 {
  margin-right: -301px;
  width: 38px;
  height: 50px;
}

.section_2 {
  margin-right: 455px;
  background-color: #ffffff;
  width: 265px;
  height: 50px;
  border: solid 1px #000000;
}

.image_1 {
  width: 77px;
  height: 60px;
}

.image_2 {
  margin-left: 230px;
  margin-top: 2.52px;
  width: 88px;
  height: 77.52px;
}

.image_3 {
  margin-left: 103.52px;
  width: 86px;
  height: 80px;
}

.image_4 {
  margin-left: 103.52px;
  width: 101px;
  height: 80px;
}

.text_2 {
  color: #227c9d;
  font-size: 20px;
  font-family: Inter;
  font-weight: 30;
}

/* MAP FUNCTION CSS */

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Logo */
.image {
  width: 60px;
  height: 60px;
}

.navbar-brand {
  margin-left: 20px;
  font-size: 35px;
  font-weight: 700;
  color: #227C9D !important;
}

.navbar-brand:hover {
  color: #17C3B2 !important;
}

.collapse {
  margin-left: 30px;
}

.navbar-nav li {
  margin-right: 35px;
}

.nav-link {
  font-size: 18px;
  font-weight: 700;
  color: #005757 !important;
}

.nav-link:hover,
.nav-item i:hover {
  color: #00CACA !important;
}

.nav-item i {
  margin-right: 10px;
  font-size: 25px;
  color: #005757;
}

#map {
  margin-top: 15px;
  height: 80vh;
  width: 100vw;
}

.infowindow-content {
  width: 300px;
}

.title {
  font-size: x-large;
  font-weight: bold;
}

.custom-map-control-button {
  height: 5vh;
}

.geocode_btn {
  height: 3vh;
}

@media screen and (max-width: 800px) {
  .row {
    margin: 20px;
  }
  
  .col-md-2 {
    margin: 30px 25px;
  }

  .collapse {
    margin-left: 0px;
  }
  
}
