.page {
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

/* Logo */
.image {
  width: 60px;
  height: 60px;
}

.navbar-brand {
  margin-left: 20px;
  font-size: 35px;
  font-weight: 700;
  color: #227C9D !important;
}

.navbar-brand:hover {
  color: #17C3B2 !important;
}

.collapse {
  margin-left: 30px;
}

.navbar-nav li {
  margin-right: 35px;
}

.nav-link {
  font-size: 18px;
  font-weight: 700;
  color: #005757 !important;
}

.nav-link:hover, .nav-item i:hover {
  color: #00CACA !important;
}

.nav-item i {
  margin-right: 10px;
  font-size: 25px;
  color: #005757;
}

#search-question h6 {
  align-items: center;
  text-align: center;
  padding-top: 15px;

}

/* Souvenir area */
.souvenir-area {
  margin: 60px 30px;
}

/* .row {
  margin: 50px;
} */

.imagebtn {
  background-color: white;
  border: none;
  color: #227C9D;
  
}

#container {
  margin-top: 20px;
  margin-left: 420px;
}

.col-md-2 {
  margin: 50px 50px;
}

.card img {
  width: 200px;
  height: 200px;
}

.shadow-lg {
  width: 200px;
  height: 200px;
}

.card h4 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 10px;

}

.btn-submit {
  margin: 0px auto;
  padding-bottom: 10px;
}

.btn-order {
  align-items: center;
  background-color: #FFCB77;
  border-radius: 10px;
  box-shadow: transparent 0 0 0 2px,rgba(18, 18, 18, .1) 0 3px 10px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  line-height: 1;
  margin: 10px;
  outline: none;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-order:hover {
  box-shadow: #F75000 0 0 0 2px, transparent 0 0 0 0;
}

/* Form popup */
.form-popup1,
.form-popup2,
.form-popup3,
.form-popup4,
.form-popup5,
.form-popup6 {
  display: none;
  position: fixed;
  bottom: 39vh;
  left: 360px;
  /* border: 2px solid #f1f1f1; */
  z-index: 2;
  
}

.form-popup2 {
  bottom: 39vh;
  left: 665px;
}

.form-popup3 {
  bottom: 39vh;
  left: 975px;
}

.form-popup4 {
  bottom: 2vh;
  left: 360px;
}

.form-popup5 {
  bottom: 2vh;
  left: 665px;
}

.form-popup6 {
  bottom: 2vh;
  left: 975px;
}

/* form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
}

.form-container button {
  margin: 5px 5px;
  border: 2px solid blue;
  font-weight: 400;
  font-size: 13px;
}

.form-container button:hover {
  border: 2px solid plum;
}

form {
  margin-top: 15px;
}

span {
  padding-right: 10px;
}

@media screen and (max-width: 800px) {
  #container {
    margin-left: 85px;
  }

  .souvenir-area {
    margin: 40px 15px;
  }

  .row {
    margin: 10px;
  }
  
  .col-md-2 {
    margin: 30px 25px;
  }

  .collapse {
    margin-left: 0px;
  }

  /* Form popup */
  .form-popup1 {
    position: initial;
  }

  .form-popup2 {
    position: initial;
  }

  .form-popup3 {
    position: initial;
  }

  .form-popup4 {
    position: initial;
  }

  .form-popup5 {
    position: initial;
  }

  .form-popup6 {
    position: initial;
  }
}

@media screen and (max-width: 1000px) {
  #container {
    margin-left: 85px;
  }
  /* Form popup */
  .form-popup1 {
    position: initial;
  }

  .form-popup2 {
    position: initial;
  }

  .form-popup3 {
    position: initial;
  }

  .form-popup4 {
    position: initial;
  }

  .form-popup5 {
    position: initial;
  }

  .form-popup6 {
    position: initial;
  }
}